* {
    font-family: sans-serif;

}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
}

.mobie {
    position: absolute;
    cursor: pointer;
}

.header-content>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-content {
    color: #fff;

}

.continer {
    display: flex;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img>div {
    display: flex;
    font-size: 50px;
    margin: 10px 0;
}

.img-col {
    display: flex;
    align-items: center;

}

.img-col>div {
    text-align: center;
}

.header {
    width: 8%;
    background-color: #000;
    height: auto;
}

.content {
    width: 92%;
}

.slider-content1,
.slider-content2 {
    margin: 20px 40px;
}

.slider {}

.slider-content1 {
    text-align: center;
    padding: 20px 200px;
    background-color: #EFEFEF;
}

.slider-content-header {
    font-size: 18px;
    font-weight: 700;
}

.slider-content-content>p {
    font-weight: 400;
    font-size: 16px;
}

.slider-content2 {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding-bottom: 150px;
}

.col1-container {
    /* width: calc(100%/3); */
    padding: 0 15px;
}

.content-col {
    display: flex;
    height: 128px;
}

.img-col>div {

    width: 128px
}

.text-cols>p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
}

.text-col>p {
    font-size: 16px;
    font-weight: 400;
}

.header-col>h4 {
    font-size: 24px;
}

.footer-content>p {
    border-top: 1px #ccc solid;
}

.header-content>ul>li {
    padding: 20px 15px;
    color: #ccc;
    font-weight: 700;
    border-bottom: 1px #5C5C5C solid;
    cursor: pointer;
    transition: .3s;
}

.header-content>ul>li:hover {
    color: #fff !important;
    background-color: #5C5C5C;

}

.active {
    color: #fff !important;
    background-color: #5C5C5C;
}

/* PC */
@media (min-width: 1224px) {
    .header-content>ul>li>i {
        display: none;
    }

    .mobie {
        display: none;
    }
}



/* Mobile */

@media (max-width:739px) {
    .continer {
        display: block;
    }

    .header {
        /* display: none; */
        transform: translateX(-100%);
        transition: .3s;
    }

    .slider-content1 {

        padding: 20px 50px;

    }

    .slider-content2 {
        display: block;
    }

    .content-col {
        display: inline-block;
        height: auto;

    }

    .content {
        width: 100%;
    }

    .img-col {
        justify-content: center;
    }

    .img-col>div {
        margin-bottom: 25px;
        font-size: 18px;

    }

    .icon-mobile>i {
        font-size: 40px;
        padding: 20px;
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0%;
    }
}



/* Tablet */
@media (min-width:740px) and (max-width:1024px) {
    .continer {
        display: block;
    }

    .header {
        transform: translateX(-50%);
    }

    .slider-content1 {

        padding: 20px 50px;

    }

    .slider-content2 {
        display: block;
    }

    .content-col {
        display: inline-block;
        height: auto;

    }

    .content {
        width: 100%;
    }

    .img-col {
        justify-content: center;
    }

    .img-col>div {
        margin-bottom: 25px;
        font-size: 18px;

    }

    .icon-mobile>i {
        font-size: 50px;
        padding: 10px;
    }
}